provider:
  name: aws
  stage: ${opt:stage, 'dev'}
  environment:
    ${file(../../configs/${self:provider.stage}/${self:provider.stage}.yml)}  
  $<<: ${file(../global-config-${self:provider.stage}.yml):provider}  

custom:
  prefix: itsmyskool
  baseServiceName: sample-service
  fullServiceName: ${self:custom.prefix}-${self:custom.baseServiceName}
  customDomain:
   basePath: 'sample'  
  $<<: ${file(../global-config-${self:provider.stage}.yml):custom}

 

service: ${self:provider.stage}-${self:custom.fullServiceName}
configValidationMode: off

plugins:
  - ../../plugins/serverless-merge-config.js
  - serverless-webpack
  - serverless-offline

functions: ${file(sample-endpoints.yml)}

$<<: ${file(../global-config-${self:provider.stage}.yml):resources}